@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Sans+Pro&display=swap');

// Typography
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-weight-base: 300;
$headings-font-weight: 300;

// Miscellaneous
$variable-columns: false !default; // recommended
$nav-height: 70px;

$primary: rgb(200, 44, 124);
$secondary: rgb(120, 42, 135);